<footer id="layout-footer">
    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="social-icon">
        <a href="https://www.linkedin.com/in/ujawaltiwarig/"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" style="height: 45px;
            display: flex;
            justify-content: flex-start;
            padding: 12px;" alt=""></a>
    </div>
    <div class="social2-icon">
        <a href="https://github.com/ujawaltiwariG"><img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" style="height: 45px;
            display: flex;
            justify-content: flex-start;
            padding: 12px;" alt=""></a>
    </div>
</footer>