<!-- <link rel="stylesheet" href="/css/sign_out_page.css"> -->

<h1>Sign Up</h1>

<form action="/users/create" method="post">

   <input class="first" type="text" name="name" placeholder="Enter Name" required>
   <input class="second" type="text" name="email" placeholder="Enter Email" required>
   <input class="third" type="password" name="password" placeholder="Enter Password" required>
   <input class="four" type="password" name="confirm_password" placeholder="Confirm Password" required>
   <input class="five" type="submit" value="Sign Up">
</form>


<!-- </form> -->