<!-- <link rel="stylesheet" href="/scss/user_profile.scss"> -->
<div class="main">
    <h1 class="codeialtag">

        
        Welcome | Codeial / user profile 
        
        
    </h1>
</div>
<div>
    Name:  <%= user.name %>

</div>
<div>
    Email:   <%= user.email %>

</div>